{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Header-->
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">Library</h1>
            <p class="lead">Online Catalog</p>
            <a class="btn btn-lg btn-light" href="{{ path('app_book') }}">Browse the catalog</a>
        </div>
    </header>
    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Library: What's up?</h2>
                    <p class="lead">Check real-time availability of books, and easily make reservations. .</p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
